<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      	layout:decorate="~{layout/LayoutPadrao}"
      	xmlns:biblioteca="http://biblioteca.rodrigogonzaga.com">
      	
<head>
	<title>Cadastro de Autor</title>
</head>
	
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="row">
				<div class="col-sm-10">
					<h1> Cadastro de Autores</h1>	
				</div>
									
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/autores}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>					
			</div>
		</div>
	
		<div class="container-fluid">				
		
			<form method="post" th:object="${autor}" class="form-vertical  js-form-loading">	
				<div id="mensagens">
					<div th:replace="fragments/MensagensErroValidacao :: mensagensErro"></div>
					<div th:replace="fragments/MensagemSucesso :: mensagemSucesso"></div>
				</div>
				<div class="form-group field-required" biblioteca:classforerror="nome">
					<label for="id-nome" class="control-label">Autor(a)</label>
					<input type="text" id="id-nome" class="form-control" th:field="*{nome}" autofocus="autofocus">													
				</div>
									
				<div class="form-group" biblioteca:classforerror="descricao"> 
					<label for="id-descricao" class="control-label">Descrição do Autor(a) </label>
					<textarea id="id-descricao" rows="3" class="form-control" th:field="*{descricao}"> 
					</textarea>							
				</div>					
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>&nbsp;
					<a href="" id="btnCancelar" class="btn  btn-default" onclick="limparCampos()">Cancelar</a>
					<!-- &nbsp;<span th:text="|Tem erro no objeto autor ${#fields.hasAnyErrors()}|"></span> -->						
				</div>
				
			</form>
		</div>	
					
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script>
		
		$('#btnCancelar').on('click', function(event) {event.preventDefault()});
		
		function limparCampos() {				
				$('.form-control').val('');
				$('.form-group').removeClass('has-error');
				$('#mensagens').addClass('hidden')
				$('#id-nome').focus();
			}
		
		</script>
			
	</th:block>
	
</body>

</HTML>